
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

RewriteCond %{HTTP_REFERER} !^http://agilefitness.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://agilefitness.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://agilefitness.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://agilefitness.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cookingdine.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cookingdine.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cookingdine.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cookingdine.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demo.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demo.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demo.yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://demo.yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dhwanibharati.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dhwanibharati.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dhwanibharati.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dhwanibharati.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://examistudy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://examistudy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://examistudy.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://examistudy.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://iseglobalsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://iseglobalsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://iseglobalsolutions.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://iseglobalsolutions.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jeevacabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jeevacabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jeevacabs.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jeevacabs.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kannada.newskannadiga.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kannada.newskannadiga.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://krushiabhivruddi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://krushiabhivruddi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://krushiabhivruddi.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://krushiabhivruddi.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://krushigaadi.com.md-in-36.webhostbox.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://krushigaadi.com.md-in-36.webhostbox.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://malnadmatrimony.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://malnadmatrimony.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://malnadmatrimony.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://malnadmatrimony.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manasacreations.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manasacreations.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manasacreations.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manasacreations.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manyathy.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://manyathy.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://matrimony.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://matrimony.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://newskannadiga.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://newskannadiga.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://newskannadiga.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://newskannadiga.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://osrfreight.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://osrfreight.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://osrfreight.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://osrfreight.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sanathls.cf/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sanathls.cf$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sanathls.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sanathls.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://school.agilefitness.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://school.agilefitness.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sdmitcseplacement.cf/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sdmitcseplacement.cf$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sdmitcseplacement.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sdmitcseplacement.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://technoarena.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://technoarena.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://technoarena.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://technoarena.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://templenear.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://templenear.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://templenear.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://templenear.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://terms.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://terms.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.technoarena.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.technoarena.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ticket.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ticket.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agilefitness.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agilefitness.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agilefitness.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.agilefitness.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cookingdine.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cookingdine.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cookingdine.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cookingdine.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demo.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demo.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demo.yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.demo.yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dhwanibharati.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dhwanibharati.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dhwanibharati.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dhwanibharati.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.examistudy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.examistudy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.examistudy.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.examistudy.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.iseglobalsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.iseglobalsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.iseglobalsolutions.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.iseglobalsolutions.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jeevacabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jeevacabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jeevacabs.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jeevacabs.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kannada.newskannadiga.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kannada.newskannadiga.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.krushiabhivruddi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.krushiabhivruddi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.krushiabhivruddi.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.krushiabhivruddi.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.krushigaadi.com.md-in-36.webhostbox.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.krushigaadi.com.md-in-36.webhostbox.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.malnadmatrimony.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.malnadmatrimony.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.malnadmatrimony.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.malnadmatrimony.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manasacreations.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manasacreations.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manasacreations.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manasacreations.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manyathy.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.manyathy.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.matrimony.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.matrimony.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.newskannadiga.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.newskannadiga.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.newskannadiga.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.newskannadiga.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.osrfreight.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.osrfreight.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.osrfreight.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.osrfreight.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sanathls.cf/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sanathls.cf$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sanathls.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sanathls.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.school.agilefitness.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.school.agilefitness.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sdmitcseplacement.cf/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sdmitcseplacement.cf$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sdmitcseplacement.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sdmitcseplacement.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.technoarena.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.technoarena.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.technoarena.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.technoarena.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.templenear.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.templenear.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.templenear.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.templenear.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.terms.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.terms.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.technoarena.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.technoarena.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ticket.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ticket.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yappa.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.yappa.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yappa.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://yappa.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agilefitness.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agilefitness.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agilefitness.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://agilefitness.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cookingdine.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cookingdine.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cookingdine.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cookingdine.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demo.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demo.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demo.yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://demo.yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dhwanibharati.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dhwanibharati.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dhwanibharati.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dhwanibharati.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://examistudy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://examistudy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://examistudy.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://examistudy.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://iseglobalsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://iseglobalsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://iseglobalsolutions.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://iseglobalsolutions.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jeevacabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jeevacabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jeevacabs.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jeevacabs.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kannada.newskannadiga.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://kannada.newskannadiga.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://krushiabhivruddi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://krushiabhivruddi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://krushiabhivruddi.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://krushiabhivruddi.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://krushigaadi.com.md-in-36.webhostbox.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://krushigaadi.com.md-in-36.webhostbox.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://malnadmatrimony.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://malnadmatrimony.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://malnadmatrimony.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://malnadmatrimony.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://manasacreations.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://manasacreations.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://manasacreations.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://manasacreations.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://manyathy.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://manyathy.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://matrimony.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://matrimony.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://newskannadiga.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://newskannadiga.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://newskannadiga.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://newskannadiga.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://osrfreight.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://osrfreight.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://osrfreight.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://osrfreight.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sanathls.cf/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sanathls.cf$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sanathls.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sanathls.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://school.agilefitness.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://school.agilefitness.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sdmitcseplacement.cf/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sdmitcseplacement.cf$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sdmitcseplacement.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sdmitcseplacement.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://technoarena.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://technoarena.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://technoarena.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://technoarena.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://templenear.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://templenear.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://templenear.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://templenear.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://terms.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://terms.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.technoarena.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.technoarena.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ticket.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ticket.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agilefitness.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agilefitness.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agilefitness.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.agilefitness.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cookingdine.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cookingdine.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cookingdine.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cookingdine.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demo.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demo.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demo.yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.demo.yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dhwanibharati.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dhwanibharati.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dhwanibharati.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dhwanibharati.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.examistudy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.examistudy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.examistudy.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.examistudy.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.iseglobalsolutions.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.iseglobalsolutions.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.iseglobalsolutions.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.iseglobalsolutions.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jeevacabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jeevacabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jeevacabs.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jeevacabs.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kannada.newskannadiga.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.kannada.newskannadiga.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.krushiabhivruddi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.krushiabhivruddi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.krushiabhivruddi.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.krushiabhivruddi.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.krushigaadi.com.md-in-36.webhostbox.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.krushigaadi.com.md-in-36.webhostbox.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.malnadmatrimony.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.malnadmatrimony.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.malnadmatrimony.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.malnadmatrimony.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.manasacreations.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.manasacreations.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.manasacreations.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.manasacreations.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.manyathy.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.manyathy.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.matrimony.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.matrimony.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.newskannadiga.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.newskannadiga.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.newskannadiga.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.newskannadiga.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.osrfreight.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.osrfreight.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.osrfreight.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.osrfreight.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sanathls.cf/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sanathls.cf$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sanathls.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sanathls.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.school.agilefitness.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.school.agilefitness.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sdmitcseplacement.cf/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sdmitcseplacement.cf$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sdmitcseplacement.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sdmitcseplacement.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.technoarena.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.technoarena.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.technoarena.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.technoarena.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.templenear.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.templenear.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.templenear.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.templenear.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.terms.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.terms.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.technoarena.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.technoarena.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ticket.manyathy.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ticket.manyathy.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yappa.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.yappa.krushigaadi.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yappa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yappa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yappa.krushigaadi.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://yappa.krushigaadi.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]


# php -- BEGIN cPanel-generated handler, do not edit
# Set the “alt-php73” package as the default “PHP” programming language.
<IfModule mime_module>
AddType application/x-httpd-alt-php73___lsphp .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit